@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p><b>Desenvolvedor:</b> @ViewData["Desenvolvedor"]</p>
<p><b>Email:</b> @ViewData["Email"]</p>


<p> <a href="https://github.com/Luk4ss" target="_blank">Github profile</a></p>
